/* Media Queries */
$max-mobile: 599px;

@mixin max-mobile {
  @media (max-width: $max-mobile) {
    @content;
  }
}

@media print {
  body {
    background-color: #fff;
  }

  header,
  footer {
    display: none;
  }
}

body {
  height: 100%;
}

.resume-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*
    Apply font family to all elements except icons which have their own font.
  */
  *:not(i) {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", sans-serif;
  }

  /* Globals in resume wrapper */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    word-break: keep-all;
    line-height: 1.75;
    font-size: 16px;
    margin: 0;
  }

  ul {
    padding-left: 24px;
    margin: 0;
  }

  li {
    font-size: 16px;
  }

  hr {
    margin: 2rem 0 2rem;
  }

  /**
 * Utility CSS Classes
 *
 * Reference: https://tailwind.build/classes
 */
  .inline-block {
    display: inline-block;
  }

  .block {
    display: block;
  }

  .font-normal {
    font-weight: 400;
  }

  .bold {
    font-weight: 700;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .italic {
    font-style: italic;
  }

  .keep-all {
    word-break: keep-all;
  }

  .text {
    &-right-exception {
      text-align: right;

      @include max-mobile {
        text-align: left;
      }
    }

    &-gray {
      color: #808080;
    }

    &-blue {
      color: #0070f3;
    }
  }

  .size {
    &-13 {
      font-size: 13px;
    }
  }

  .p {
    &x {
      &-30 {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &y {
      &-30 {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      &-60 {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    &-60 {
      padding: 60px;
    }
  }

  .mb {
    &-2 {
      margin-bottom: 2px;
    }

    &-4-exception {
      margin-bottom: 4px;
    }

    &-6 {
      margin-bottom: 6px;
    }

    &-8 {
      margin-bottom: 8px;
    }

    &-12 {
      margin-bottom: 12px;
    }

    &-16 {
      margin-bottom: 16px;
    }

    &-20 {
      margin-bottom: 20px;
    }

    &-30 {
      margin-bottom: 30px;
    }

    &-40 {
      margin-bottom: 40px;
    }
  }

  .mt {
    &-0 {
      margin-top: 0;
    }

    &-20 {
      margin-top: 20px;
    }

    &-40 {
      margin-top: 40px;
    }
  }

  .code {
    display: inline-block;
    font-size: 10px;
    padding: 1px 4px;
    word-break: keep-all;
    white-space: nowrap;
    margin-right: 4px;
    border-radius: 4px;
    background-color: #ddd;
    color: initial;
    line-height: 17.5px;
  }

  .columns-2 {
    display: flex;
    gap: 36px;

    &__left {
      width: 180px;
      flex-shrink: 0;
    }

    &__right {
    }

    @include max-mobile {
      flex-direction: column;
      gap: 0;

      &__left {
        width: 100%;
      }
    }
  }

  .no-underline {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .max-w-800 {
    max-width: 1000px;
  }

  .h {
    &-full {
      height: 100%;
    }
  }

  .bg {
    &-white {
      background-color: #fff;
    }

    &-lightgray {
      background-color: #eee;
    }
  }

  .flex {
    display: flex;

    &-col {
      flex-direction: column;
    }

    &-grow {
      flex-grow: 1;
    }
  }

  .grid {
    display: grid;

    &-autofit-cols-200 {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &-autofit-cols-240 {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    &-flow-col {
      grid-auto-flow: column;
    }
  }

  .grid-cols-3 {
  }

  .items {
    &-center {
      align-items: center;
    }
  }

  .border {
    &-left-12 {
      border-left: 12px solid;
    }
  }
}
